.container {
    justify-content: center;
    background-color: #152938;
}

.options-page-logo {
    margin-bottom: 45px;
}

.game-options-container {
    width: 90%;
    padding: 24px;
    background-color: #FCFCFC;
    border-radius: 10px;
}

.option-name {
    margin-bottom: 12px;
}

