.players-wrapper {
    padding: 0 24px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
@media(min-width: 700px) {
    .players-wrapper {
        padding: 0 40px;
    }
}
@media(min-width: 1280px) {
    .players-wrapper {
        padding: 0 165px;
        margin-bottom: 50px;
    }
}

.player-wrapper {
    background-color: #DFE7EC;
    color: #7191A5;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media (min-width: 700px) {
    .player-wrapper {
        font-size: 1.125rem;
        padding: 15px;
        align-items: flex-start;
    }
}
@media (min-width: 1024px) {
    .player-wrapper {
        padding: 20px 25px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

.player-stats {
    font-size: 1.5rem;
    color: #304859;
}

.active-player {
    background-color: #FDA214;
    color: #FCFCFC;
    position: relative;
}

.active-player .player-stats,
.player-winner .player-stats {
    color: #FCFCFC;
}

.player-winner {
    background-color: #152938;
    color: #FCFCFC;
}

.active-player:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: #FDA214;
}
@media(min-width: 500px) {
    .active-player:before {
        width: 12px;
        height: 12px;
        top: -6px;
    }
}
@media(min-width: 1024px) {
    .active-player:before {
        width: 20px;
        height: 20px;
        top: -10px;
    }
    .active-player:after {
        content: "current turn";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -25px;
        color: #152938;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: .8rem;
    }
}
