.players-board {
    width: 90%;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
@media (min-width: 700px) {
    .players-board {
        width: 70%;
    }
}
@media (min-width: 1280px) {
    .players-board {
        width: 35%;
    }
}

.player-wrapper {
    background-color: #DFE7EC;
    color: #7191A5;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media (min-width: 700px) {
    .player-wrapper {
        font-size: 1.125rem;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.player-stats {
    font-size: 1.5rem;
    color: #304859;
}

/*End game component*/

.end-game-block {
    position: absolute;
    top: 50%;
    left: 24px;
    right: 24px;
    z-index: 20;
    transform: translateY(-50%);
    padding: 32px 24px 24px;
    border-radius: 10px;
    text-align: center;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media (min-width: 700px) {
    .end-game-block {
        left: 60px;
        right: 60px;
        padding: 50px 55px;
    }
}
@media (min-width: 1024px) {
    .end-game-block {
        left: 150px;
        right: 150px;
    }
}
@media (min-width: 1280px) {
    .end-game-block {
        left: 390px;
        right: 390px;
    }
}

.win-header {
    color: #152938;
    font-size: 1.5rem;
}

.win-subheader {
    font-size: .875rem;
}
@media (min-width: 700px) {
    .win-header {
        font-size: 3rem;
    }
    .win-subheader {
        font-size: 1.125rem;
    }
}

.end-game-block .player-wrapper {
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (min-width: 700px) {
    .buttons-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons-wrapper .basic-button {
        width: 100%;
    }
}